@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ribeye";
    src: url(../fonts/Ribeye-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

html,
body {
  position: relative;
  height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.header__container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__list{
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    position: relative;
}

.nav__list:last-child{
    display: none;
}

.nav a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ff675c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav a:hover::after{
    width: 100%;
}

.header__logo{
    color: #FFF;
    font-family: "Ribeye";
    font-size: 24px;
    letter-spacing: 1.44px;
}

.btn{
    padding: 15px 35px;
    background: #C9453B;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.96px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.content__title{
    max-width: 690px;
    color: #FFF;
    font-family: "Gelasio";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 78px */
}

.content__text{
    max-width: 458px;
    color: #ffffff96;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 30px 0px 40px 0px;
}

.title{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-family:"Gelasio";
    font-style: normal;
    font-size: 43px;
    font-weight: 600;
}

.image{
    width: 100%;
    height: auto;
}

.text{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
    font-size: 22px;
    color: rgba(0, 0, 0, 0.527);
}

.text__style-none{
    max-width: 455px;
    text-align: left;
    margin: 0;
    padding: 25px 0px;
}

.card__box{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.card{
    max-width: 360px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: 0.3s;
}

.card__info{
    max-width: 360px;
    padding: 34px 27px;
}
 
.card__city{
    padding-bottom: 10px;
    font-family: "Gelasio";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.card:hover{
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

.box__info{
    padding-top: 65px;
}

.blog__box{
    margin:50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.blog__content{
    display: flex;
    gap: 25px;
    height: 100%;
}

.blog__content-info{
    max-width: 310px;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.blog__box-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.blog__box-1{
    width: 100%;
    height: 100%;
}

.box__title{
    font-family: "Gelasio";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.blog__author{
    color: #000;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.slider__container{
    margin: 30px 0px;
    padding: 0px 15px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    display: flex; 
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__title{
    text-align: left;
}

.swiper__text-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.swiper-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grey__text{
    color: #000000b5;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-align: left;
    margin: 15px 0;
}

.country{
    color: #000000b5;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.swiper__price{
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.slider__info{
    margin: 20px 0px;
}

.swiper-scrollbar-horizontal {
    max-width: 500px;
}

.swiper-scrollbar-drag{
    background: #C9453B;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    background: #C9453B1A;
}

.hamburger{
    display: none;
}

.nav.is-active{
    transform: translateX(0);
    transition: 0.5s;
}

.black{
    margin-top: 4px;
    color: black;
}


.footer{
    background: rgba(38, 148, 153, 0.04);
    padding: 70px 0px;
    margin-top: 150px;
}

.footer__contact{
    margin: 30px 0px;
    color: #000;
}

.footer__box-form{
    width: 100%;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav__list{
    list-style: none;
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.96px;
}

.footer__icons{
    display: flex;
    gap: 20px;
}

.footer_box-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer__box-sub{
    color: #000;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.footer__box-input{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  gap: 25px;
  width: 100%;
}

.footer__input{
    padding: 15px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

::placeholder {
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0.96px;
}

@media screen and (max-width:1200px) {
    .card__box{
        max-width: 750px;
        margin: 30px auto;
        flex-wrap: wrap;
        gap: 20px;
    }
    .content{
        max-width: 992px;
    }
}

@media screen and (max-width:992px){
    .footer__container{
        flex-wrap: wrap;
    }
    .footer_box-nav{
        justify-content: space-between;
        margin: 30px 0px;
    }
    .footer__nav{
        width: 50%;
    }
    .blog__box{
        flex-wrap: wrap;
    }
    .blog__box-1{
        max-width: 450px;
    }
    .blog__box-2{
        max-width: 450px;
    }
    .blog__content{
        flex-direction: column;
    }
    .blog__content{
        text-align: left;
    }
}


@media screen and (max-width:800px) {
    .nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background: linear-gradient(225deg, #3023AE -1%, #C86DD7 100.5%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: 0s;
        transform: translateX(100%);
    }

    .header__button{
        display: none;
    }

    .nav__list:last-child{
        display: block;
    }

    .hamburger{
        display: block;
    }
    .content__text{
        font-size: 16px;
        margin: 15px 0px 20px 0px;
    }
    .content__title{
        font-size: 9vw;
    }
    .card{
        margin: 0px auto 0 auto;
        max-width: 100%;
    }
    .blog__box{
        flex-direction: column;
    }

}

@media screen and (max-width:480px){
    .blog__content{
        flex-direction: column;
    }
    .blog__content{
        text-align: left;
    }
    .box__title{
        font-size: 26px;
    }
    .footer{
        margin-top: 20px;
    }
    .box__info{
        padding-top: 20px; 
    }
    .blog__author {
        font-size: 20px;
    }
}